<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-1">
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <i class="mdi mdi-account-multiple menu-icon"></i>
        <h3 class="card__subtitle">Zaposlenici</h3>
      </div>
      <h2 class="card__title">+18</h2>
      <h4 class="card__apply"><a href="#"><i class="mdi mdi-reload"></i> Osvježi</a></h4>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-2">
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <i class="mdi mdi-currency-eur menu-icon"></i>
        <h3 class="card__subtitle">Troškovi</h3>
      </div>
      <h2 class="card__title">-1000 KM</h2>
      <h4 class="card__apply"><a href="#"><i class="mdi mdi-reload"></i> Osvježi</a></h4>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-1">
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <i class="mdi mdi-hospital menu-icon"></i>
        <h3 class="card__subtitle">Bolovanja</h3>
      </div>
      <h2 class="card__title">+0</h2>
      <h4 class="card__apply"><a href="#"><i class="mdi mdi-reload"></i> Osvježi</a></h4>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="card card-2">
      <div style="width: 100%; display: flex; flex-direction: row; justify-content: space-between;">
        <i class="mdi mdi-airplane-takeoff menu-icon"></i>
        <h3 class="card__subtitle">Godišnji</h3>
      </div>
      <h2 class="card__title">+3</h2>
      <h4 class="card__apply"><a href="#"><i class="mdi mdi-reload"></i> Osvježi</a></h4>
    </div>
  </div>
</div>